{% extends 'base.html.twig' %}

{% block title %}Edit Carta{% endblock %}

{% block body %}
    <h1>Edit Carta</h1>

    {{ include('carta/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_carta_index') }}">back to list</a>

    {{ include('carta/_delete_form.html.twig') }}
{% endblock %}
