{# templates/home/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Mi Página Principal</title>
</head>
<body>
<h1>Bienvenido a la página principal de mi aplicación</h1>
<p>¡Aquí puedes poner cualquier contenido!</p>
</body>
</html>